NEXT_PUBLIC_API_BASE_URL=http://103.78.54.181
# https://api.alipo.com/services

NEXT_PUBLIC_CUSTOMER_PANEL_BASE_URL=http://103.78.54.181:3002

NEXT_PUBLIC_ADMIN_PANEL_BASE_URL=https://stage-admin.alipo.com

NEXT_PUBLIC_ENV=development

NEXT_PUBLIC_GTM_ID=GTM-K8KQP36J
# 'GTM-TV8TK79R' => production
